torch>=2.0.0
torch-geometric>=2.3.0
torch-cluster>=1.6.0
efficient-kan @ git+https://github.com/Blealtan/efficient-kan.git
rdkit>=2024.3.0
pandas>=2.0.0
numpy>=1.24.0
scikit-learn>=1.3.0
matplotlib>=3.7.0
seaborn>=0.13.0
tqdm>=4.60.0
scipy>=1.10.0
